<!DOCTYPE html>
<html>

<head>
  <title>UCC</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/jquery3.1.1.js'></script>
  <script src='/javascripts/jquery-animate-css-rotate-scale.js'></script>
</head>

<body>
  <button id='login'>| 로그인 |</button>

  <script>
    $(document).on('click', '#login', function () {
      window.location.href='/users/login';
    })
  </script>
</body>

</html>